.unanswer-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.unanswer {
  font-size: 12px;
  letter-spacing: 0px;
  top: 370px;
  left: 239.5px;
  margin-right: 11.2px;
}

  
.letter-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .answer { 
    font-size: 32px;
    margin: 0;
    padding: 0;
    letter-spacing: 5.7px;
  }