$score-top: 62px;

div {
  text-align: left;
}

.wrapper {
  padding: 0;
  margin-bottom: 0;
  position: relative;
  margin-top: 2rem;
  box-shadow: 0px 0px 31px 21px #ea134ec2;
  height: 800px;
  border: 3px solid #343434;
}

.tablica {
  width: 1280px;
  height: 800px;
}

.letter-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.font {
  position: relative;
  letter-spacing: 5px;
  line-height: 3px;
  transform: scaleY(1.2);
  font-size: 29.5px;
  display: block;
}

.counters {
  top: 303.9px;
  left: 327px;
}

.answers {
  top: 305px;
  left: 387px;
}

.score-main {
  position: absolute;
  top: 32.5px;
  left: calc(1280px / 2 - 116px);
}

.score-team-left {
  position: absolute;
  top: $score-top;
  left: calc(39px);
}

.score-team-right {
  position: absolute;
  top: $score-top;
  left: calc(1280px - 262px);
}

app-answer {
  margin-bottom: 0px;
  height: 52px;
}

.errors {
    position: absolute;
    top: 270px;
}

.errors-left {
    left: 214px;
}

.errors-right {
    left: 1002px;
}

.error-left-middle, .error-right-middle {
  position: absolute;
  top: 152.7px;
}
.error-left-bottom, .error-right-bottom {
  position: absolute;
  top: 308.9px;
}

.score-small {
  position: absolute;
  top: 666px;
  left: 885px;
}

.tablica-placeholder {
  position: absolute;
  top: 247px;
  width: 869px;
  left: 210px;
  height: 503px;
}

.values {
  top: 306px;
  left: 884px;
}

.score-value {
  margin-bottom: 27.5px;
}