.font {
    text-align: right;
    font-size: 27.4px;
    margin: 0;
    padding: 0;
    transform: scaleY(1.2);
    letter-spacing: 5px;
    color: hsl(57deg, 97%, 59%)
  }

  .suma {
    text-align: right;
    font-size: 31px;
    margin: 0;
    padding: 0;
    transform: scaleY(1.2);
    letter-spacing: 5px;
    color: hsl(65deg 64% 53%)
  }