:host {
    width: 600px;
    display: block;
}

.controls-main {
    display: flex;
    flex-direction: row;

    & > * {
        margin-right: 0.5rem;
    }
}

.controls-questions {
    flex-direction: column;

    & > * {
      margin-bottom: 0.5rem;
    }
}

.control-errors {
    display: flex;
    flex-direction: row;;
}

.control-errors-column {
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 0.5rem;
    }
}

.controls-points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
}

.question {
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: center;
    align-self: center;
    margin-bottom: 0.5rem;
}

.answers-close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}