<h1>Sterownik Tablicy</h1>

<h2>Główne sterowanie</h2>

<section class="controls-main">
    <button (click)="resetGame()" mat-raised-button color="primary">Zresetuj grę</button>
    <button (click)="chooseSet(0)" mat-raised-button color="primary">Zestaw 1</button>
    <button (click)="chooseSet(1)" mat-raised-button color="primary">Zestaw 2</button>
    <button (click)="synchronizeLocalStorage()" mat-raised-button color="primary">Synchronizacja</button>
</section>

<h2>Sterowanie grą</h2>

<section class="controls-main">
    <button (click)="resetGame()" mat-raised-button color="primary">Odkryj  grę</button>
    <button (click)="chooseSet(0)" mat-raised-button color="primary">Zestaw 1</button>
    <button (click)="chooseSet(1)" mat-raised-button color="primary">Zestaw 2</button>

</section>
